<!DOCTYPE html>

<script src="lib/angular/angular.min.js"></script>
<script src="generator.js"></script>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />    
</head>
<body>
    <h1>Dance Combo Generator</h1>
    <h4>Dance moves, stored in RavenDB and displayed by Angular / Bootstrap</h4>    
    <div ng-controller="DanceComboGeneratorController as vm">
        <button type="button" ng-click="generateCombo()" class="btn btn-success" data-toggle="modal" data-target="#modalCombo"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Generate Combo</button>
        <div class="modal fade" id="modalCombo" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Combo</h4>
                    </div>
                    <form>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="modal-body">
                                    <p>Moves in combo</p>
                                </div>
                                <table class="table table-bordered table-striped table-responsive">
                                    <tr ng-repeat="move in vm.movesInCurrentCombo">
                                        <td>{{move.Name}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>